// font-family: 'Roboto', sans-serif;
$fontFamily:'Roboto';
$minWidth:320px;
$maxWidth:1440px;
$maxWidthContainer:1440px - (165px + 165px) + 30px;
// 1140 //1110


%btn{
    background-color: #111B47;
    border-radius: 2px;
    font-family: $fontFamily;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

    &:hover{
        box-shadow: rgb(49 46 46 / 87%) 4px 6px 17px 0px;
        background-color: #253991;
    }
}
%title{
    font-family: $fontFamily;
    font-weight: 500;
    color: #091133;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 16px
}
%text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6F7CB2;
}

body{
    // max-width: $maxWidth;
    min-width: $minWidth;
    margin: 0 auto;
}
.wrapper{
    background-color: #FFFFFF;
    font-size: 10px; 
    overflow: hidden;
}
.container{
    max-width: $maxWidthContainer;
    padding: 0 15px;
    margin: 0 auto;
    min-height: 100%;
}
/*==============HEADER=============*/
.background_container{
    position: relative;
}
.header-introduction__background{
    width: 1023/1440*100%;
    max-width: 986px;
    max-height: 1150px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.header-introduction__background>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo{
    font-family: $fontFamily;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
    width: 79/1110*100%;
}
.header{
    position: relative;
    z-index: 2;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin-bottom: 243px;
    }
    &__btn{
        @extend %btn;
        font-size: 12px;
        line-height: 18px;
        width: 160/1110*100%;
        padding: 4px 5px;
        margin-left: 355/1110*100%;
    }
}
.nav{
    margin-right: 271/1110*100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 245/1110*100%;

    &__link{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #505F98;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}
@media (max-width:720px) {
    .header__nav{
        margin-right: 0;
        width: 90%;
        order:3;
    }
    .logo{
        font-size: 26px;
        line-height: 38px;
        width: 45%;
    }
    .header{
        &__content{
            margin-bottom: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            flex-wrap: wrap;
        }
        &__btn{
            width: 45%;
            margin-left: 0;
        }        
    }
}
/*============== introduction block ==================*/
.introduction{
    position: relative;
    z-index: 2;
    &__content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 386px;
        width: 539/1100*100%;

    }
    &__header{
        @extend %title;
        font-size: 50px;
        line-height: 66px;
        letter-spacing: 1px;
        width: 100%;
        margin-bottom: 20px
    }
    &__text{
        @extend %text;
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        margin-bottom: 69px;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 408/539*100%;

        &_kit{
            @extend %btn;
            width: 189/408*100%;
            padding: 5px 5px;
            height: 36px;
        }
        &_more{
            @extend %btn;
            width: 189/408*100%;
            padding: 7px 5px 3px;
            background-color: transparent;
            height: 36px;
            border: 2px solid #091133;
            color: #091133;
            &:hover{
                background-color: transparent;
            }
        }
    }
}
@media (max-width:1200px){
    .introduction__content {
        margin-bottom: 200px;
    }
}
@media (max-width:1050px){
    .introduction__content {
        margin-bottom: 150px;
        width: 70%;
    }
}
@media (max-width:720px){
    .wrapper{
        background: url(/img/Rectangle.png) no-repeat top;
        background-size: 100% 800px;
    }
    .header-introduction__background{
        display: none;
    }
    .introduction{
        &__content {
            margin: 0 auto 150px;
            align-items: center;
            text-align: center;
            width: 100%;
        }
        &__header {
            font-size: 40px;
            line-height: 60px;
        }
        &__buttons{
            width:90%;
        }
    }
}
@media (max-width:450px){
    .wrapper{
        background-size: 100% 1000px;
    }
    .introduction{
        &__buttons{
            width:90%;
            flex-wrap: wrap;
            justify-content: center;

            &_kit{
                width: 70%;
                margin-bottom: 16px;
            }
            &_more{
                width: 70%;
            }
        }
    }
}

/*============== second block ==================*/

.fast{
    display: flex;
    align-items: center;
    justify-content: center;

    &__background{
        max-width: 540px;
        width: 540/1100*100%;
        margin: 109px 0px 109px 30px;
        height: auto;
        overflow: hidden;
    }
    &__background>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__content{
        width: 540/1100*100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__header{
        @extend %title;
        width: 100%;
    }
    &__text{
        @extend %text;
        width: 100%;
        margin-bottom: 80px;
    }
    &__options{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
}
.options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 255/540*100%;

    &__icon{
        width: 36px;
        height: 36px;
        overflow: hidden;
        margin-bottom: 14px;
    }
    &__icon>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__header{
        font-family: $fontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #091133;
        margin-bottom: 6px;
    }
    &__text{
        font-family: $fontFamily;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #5D6970;
    }

}

@media (max-width:720px) {
    .fast{
        flex-direction: column;
        text-align: center;

        &__content{
            width: 100%;
        }
        &__background {
            max-width: 90%;
            width: 90%;
            margin: 20px 0px 100px 0px;
        }
    }
    .options{
        align-items: center;
    }
    
}


/*================same sections ============*/


.sections{
    display: flex;
    align-items: center;
    justify-content: center;

    &__background{
        max-width: 480px;
        width: 480/1100*100%;
        margin: 122px 155px 130px 0px;
        height: auto;
        overflow: hidden;
    }
    &__background>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__background,&__second-background{
        max-width: 540px;
        width: 540/1100*100%;
        margin: 91px 125px 114px 0px;
    }
    &__background,&__third-background{
        max-width: 445px;
        width: 445/1100*100%;
        margin: 122px 172px 116px 0px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 445/1110*100%;
    }
    &__header{
        @extend %title;
        width: 100%;
    }
    &__text{
        @extend %text;
        width: 100%;
    }
    &__button{
        @extend %btn;
        padding: 4px 5px;
        width:  150/445*100%;
        font-size: 14px;
        line-height: 24px;
        height: 32px;
        margin-top: 40px;
    }
}

@media (max-width:1050px) {
    .sections{
        &__content{
            width:60%;
        }
        &__background{
            margin: 122px 50px 130px 0px;
            }
        &__background,&__second-background{
            margin: 91px 50px 114px 0px;
        }
        &__background,&__third-background{
            margin: 122px 50px 116px 0px;
        }
    }
}
@media (max-width:720px) {
    .sections{
        flex-direction: column;
        text-align: center;
        &__content{
            width:100%;
        }
        &__background{
            order: 2;
                max-width: 90%;
                width: 90%;
                margin: 100px 0;
        }
        &__button{
            width:  70%;
            margin: 40px auto 0px ;
        }
    }

}
/*=================  price ===============*/

.price{
    background: url(../img/Rectangle.png) top no-repeat;
    &__content{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: $fontFamily;   
        width: 600/1110*100%;
    }
    &__header{
        @extend %title;
        margin-top: 237px;
        width: 100%;
    }
    &__text{
        @extend %text;
        width: 100%;
        margin-bottom: 35.8px;
    }
    &__money{
        font-weight: 500;
        font-size: 50px;
        letter-spacing: 1px;
        color: #222F65;
        width: 350/1110*100%;
        line-height: 66px;
    }
    &__kit{     
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #37447E;
        margin-bottom: 60px;
        width: 350/600*100%;
        margin-top: 1px;
    }
    &__simple{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #5D6970;
        margin-bottom: 9px;
        width: 350/600*100%;
    }
    &__button{
        @extend %btn;
        padding: 4px 5px;
        margin-bottom: 172px;
        height: 32px;
        width: 189/600*100%;
    }
}
@media (max-width:720px){
    .price{
        &__content{
            width: 100%;
        }
        &__button{
            width: 70%;
        }
    }
}


/*===========footer==========*/
.footer{
    margin-top: auto;
    background: #E7ECFF;

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__upper{
        width: 100%;
        height: 139px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__copy{
        margin-right: auto;
        font-family: $fontFamily;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #939EA4;
        width: 133/1110*100%;
    }
    &__btn{
        @extend %btn;
        margin-left: auto;
        padding: 4px 0;
        width: 109/1110*100%;
        height: 26px;
    }
    &__bar{
        background: #CDD1D4;
        height: 1px;
        width: 100%;
    }
    &__lower{
        height: 76px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        width: 245/1110*100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230/1110*100%;
    }
    &__social>svg{
        width: 16px;
        height: 156px;
        fill: #B0B8BC;   
        cursor: pointer;
    }
    &__social>svg:hover{
        fill: #929ca1;
    }

}
.social{
    &__link{
        cursor: pointer;
    }
    &__link>svg{
        width: 16px;
        height: 156px;
        fill: #B0B8BC;   
        cursor: pointer;
    }
    &__link>svg:hover{
        fill: #727a7e;
    }
}

@media (max-width:720px){
    .footer{
        &__upper{
            flex-wrap: wrap;
        }
        &__copy{
            width: 100%;
            order: 3;
        }
        &__btn{
            width: 45%;
            height: 26px;
        }
        &__lower{
            justify-content: center;
            flex-direction: column;
            height: auto;
        }
        &__nav{
            width: 90%;
            margin-right: 0;
            margin-top: 20px;
        }
        &__social{
            width: 90%;
        }
    }
    .social{
        &__link>svg{
            width: 16px;
            height: 80px;
        }
    }
}

.block_svg{
    display: none;
}