.button_big_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 82%;
    margin-left: 60px;

}
.iconDownload{
    width: 24px;
    height: 24px;
}
.btn_text_right{
    margin-right: 8px;
}
.blue{    
    stroke: #FFFFFF;
}
.gray{
    stroke: #878787;
}
.black{
    stroke: #2C2C2C;
}
.transp{
    stroke: #18A0FB;
}
.big_dwnl{
    padding: 15px 20px;
}
