.button_big_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
    width: 82%;
    margin-left: 60px;
}
.btn_text_left{
    margin-left: 8px;
}