.button_smal_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 78%;
    margin-left: 75px;

}
.smal_dwnl{
    padding: 10px 12px;
}
.iconDownloadSmal{
    width: 20px;
    height: 20px;
}