.button_smal_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 78%;
    margin-left: 75px;
}
.red{    
    color: #FFFFFF;
    background: red;    
    border: 1px solid red;
    &:hover{
        background: rgb(167, 19, 19);   
    }
    stroke: #FFFFFF;
}