.s_m_l_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 141px 20px;
}
.size{
    padding: 14px 48px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
