.search_kit_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 99px 0 24px 20px;
}
.left_blue{
    background: #18A0FB;
    border: 1px solid #18A0FB;
    color: white;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{
        background: #0f86d6;
        box-shadow: 7px 8px 16px 3px rgb(0 0 0 / 62%);
    }
}
.midle_white{
    background: #FFFFFF;
    border:none;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0px;
    stroke: #2C2C2C;
    box-sizing: border-box;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{
        box-shadow: 7px 8px 16px 3px rgb(0 0 0 / 62%);
    }
}
.right_white{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{
        box-shadow: 7px 8px 16px 3px rgb(0 0 0 / 62%);
    }
}
.search,.dwnld{
    padding: 12px 16px;
}
.archive{
    padding: 12px 16px;
}
.iconArchive{
    stroke: #2C2C2C;
    width: 24px;
    height: 24px;
}
.iconMagnify{
    fill: white;
    width: 24px;
    height: 24px;
}