.button_smal_left
    button.red.btn_smal.smal_dwnl 
        include ../img/downlSmal.svg
        span.btn_text_left Download
    button.gray.btn_smal.smal_dwnl
        include ../img/downlSmal.svg
        span.btn_text_left Download
    button.black.btn_smal.smal_dwnl 
        include ../img/downlSmal.svg
        span.btn_text_left Download
    button.transp.btn_smal.smal_dwnl 
        include ../img/downlSmal.svg
        span.btn_text_left Download
