.button_big_right
    button.blue.btn_big.big_dwnl 
        span.btn_text_right Download
        include ../img/downlBig.svg
    button.gray.btn_big.big_dwnl  
        span.btn_text_right Download
        include ../img/downlBig.svg
    button.black.btn_big.big_dwnl 
        span.btn_text_right Download
        include ../img/downlBig.svg
    button.transp.btn_big.big_dwnl  
        span.btn_text_right Download
        include ../img/downlBig.svg
