.button_smal_right
    button.blue.btn_smal.smal_dwnl 
        span.btn_text_right Download
        include ../img/downlSmal.svg
    button.gray.btn_smal.smal_dwnl  
        span.btn_text_right Download
        include ../img/downlSmal.svg
    button.black.btn_smal.smal_dwnl 
        span.btn_text_right Download
        include ../img/downlSmal.svg
    button.transp.btn_smal.smal_dwnl  
        span.btn_text_right Download
        include ../img/downlSmal.svg