doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/index.css")
        title HW12
    body 
    .first_colum
        h1.title.title_big Buttons Big
        include button_big_simple
        include button_big_right
        include button_big_left

        h1.title.title_smal Buttons Small
        include button_smal_simple
        include button_smal_right
        include button_smal_left

        include tag_big
        include tag_smal

    .second_colum
        include search_kit