.magnifying_kit_container 
    button.magnifying.left_blue 
         include ../img/Search.svg
    button.magnifying.midle_white
        include ../img/Search.svg
    button.magnifying.right_white
         include ../img/Search.svg
