.search_kit_container 
    button.search.left_blue 
         include ../img/Search.svg
    button.dwnld.midle_white
         include ../img/downlBig.svg
    button.archive.right_white
         include ../img/Archive.svg
