
/* font-family: 'Roboto', sans-serif; */

body{
    /* background-color: pink; */
}

@media (min-width: 1400px){
    .container-lg {
        max-width:964px;
    }
}
.bg-light {
    background-color: #fff !important;
}
.navbar-brand{
    /* width: 105px; */
    width: 37%;
}
.navbar-brand>img{
    width:105px;
    height: 100%;
    object-fit: contain;
}
input[type="search"]::placeholder { 
    text-align: center;
}
.form-control{
    font-family: "FontAwesome", "Roboto";
    font-size: 14px;
}
.d-flex {
    margin-right: auto;
    width: 216px;
    height: 30px;
}
.me-auto {
    margin-right: 0 !important;
}
.me-2 {
    margin-right: 0 !important;
}
.nav-item:not(:last-child){
    margin-right: 22px;
}
.block-with-svg{
    display: none;
}
.home{
    width: 23px;
    height: 22px;
}
.notification-link{
    height: 27px;
    width: 30px; 
    position: relative;  
}
.notification{
    width: 22px;
    height: 19px;
    position:absolute;
    bottom: 0;
    left: 0;
}
.counter{
    position:absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
}
.notification-link>span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    position: absolute;
    top: 3px;
    right: 5px;
}
.navigation{
    width: 22px;
    height: 22px;
}
.like{
    width: 22px;
    height: 19px;
}
.photo-user_mini{
    width: 22px;
    height: 22px;
    overflow: hidden;
    border-radius: 50%;
}
.photo-user_mini>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.bar{
    width: 100%;
    height: 1px;
    background: #DBDBDB;
}
.long-bar{
    margin-bottom: 29px;
}
.photo-user{
    border-radius: 50%;
    max-width: 154px;
    /* height: 153px; */
    margin: 0 auto;
    overflow: hidden;
}
.photo-user>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.more{
    width: 20px;
    height: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more>div{
    width: 4px;
    height: 4px;
    background: #262626;
    border-radius: 50%;
}
.folowing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57%;
    margin-bottom: 24px;
    
}
.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #262626;
}
.btn-primary {
    border-color:#4094EF ;
    background: #4094EF;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    /* width: 97px; */
    width: 31.8%;
    height: 29px;
}
.dropdown-toggle{
    height: 29px;
}
.dropdown-toggle::after {
    vertical-align: 0.15em;
}
.btn-secondary {
    color: #fff;
    border-color:#4094EF;
    background: #4094EF;
    border-radius: 3px;
}
.btn {
    font-weight: 700;
    line-height: 17px;
    padding: .375rem .75rem;
}


.statistic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 21px;
}
.statistic>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #262626;
}
.about-self{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
}
.sub_name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #262626;    
    margin-bottom: 5px;
}
.self-info{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    margin-bottom: 8px;
}
.self-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #133768;
    text-decoration: none;
    margin-bottom: 52px;
}



.story-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 80px; */
}
.story{
    width: 87px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
.story-logo{
    height: 87px;
    width: 87px;
    position: relative;
    margin-bottom: 11px;
}
.story-siricul{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    height: 87px;
    width: 87px;
}
.story-photo{
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 79px;
    height: 79px;
    top: 4px;
    left: 4px;
}
.story-photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-story{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
}

.row-posts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts,
.tagget{
    position: relative;
    top:-1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09em;
    color: #8F8F8F;
    text-transform: uppercase;
    /* max-width: 10%; */
    width: 93px;
    padding-top: 19px;
    margin-bottom: 19px;
}
/* .posts>svg,
.tagget>svg{
    margin-right: 5px;
    width: 11px;
    height: 11px;
} */
.tagged_svg{
    fill:#8E8E8E;
}
.posts_svg,
.tagged_svg{
    margin-right: 5px;
    width: 11px;
    height: 11px;
}
.posts{
    color: #262626;
    border-top: 2px solid #262626;
    margin-right: 64px;
}
.tagget:hover{
    color: #262626;
    border-top: 2px solid #262626;
}
.tagget:hover .tagged_svg{
    fill:#262626;
}



.photo-post{
    overflow: hidden;
    margin-top: 26px;
}
.photo-post>img{
    width: 100%;
    object-fit: cover;
}


.story:not(:last-child){
 margin-right: 34px;
}