
/*=====================  Main  =======================*/

body{
    min-height: 900px;
}
:root{
    --grey:  #F5F5F7;
    --black: #000000;
    --white: #fff;
}
.content{
    margin: 0 2.5em 0 1em;
    display: grid;
    grid-template-columns: 11.8% 47.1% 35.3%;
    column-gap: 2.9%; 
}
@media (max-width:1201px){
    .content{
        margin: 0 auto;
        column-gap: 3%; 
        row-gap: 10px;
        grid-template-columns: 54% 43%;
        grid-template-areas: "aside aside"
                             "main right-aside" ;
    }
    .aside1{
        grid-area: aside;
        grid-column-start: span 2;
        justify-items: center;
        /* width: 100%; */
    }
    main{
        grid-area: main;
    }
    .right-aside{
        grid-area: right-aside;
    }
}
@media (max-width:983px){
    .content{
        margin: 0 auto;
        gap:0;
        grid-template-columns: 1fr;
        grid-template-areas: "aside "
                             "main "
                             "right-aside" ;
    }
}
/*====================  Aside nav-bar  ==================*/
.aside1{
    height: 852px; 
    /* max-width: 8.25em; */
    margin: 1.5em 1em;
    background-color: var(--black);
    border-radius: 1.5em;
    box-shadow: 15px 15px 19px 11px rgba(10, 16, 21, 0.23);
}
.aside1__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 0;
    height: 100%;
} 
.aside1__inner a:not(:last-child){
    margin: 0 1em 4em 1em;
}
.aside1__inner a:last-child{
    margin: 0 1em 0 1em;
    margin-top: auto;
}
.aside1__logo{
    margin: 0 1em 6.9em 1em;
}   
.aside1__link{
    overflow: hidden;
    width: 1.625em;
    height: 1.625em;
    transition: all 0.3s ease;
}
.aside1__link:hover{
    transform: translateY(-50%);
    box-shadow: 0 0 20px white;
    border-radius: 25% ;
}
.aside1__link>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
@media (max-width:1201px){
    .aside1__inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
        padding: 1.3em 0;
    } 
    .aside1{
        height: auto; 
    }
    .aside1__inner a:last-child{
        margin: 0;
        margin-right: 1.5em;
    }
    .aside1__inner a:not(:last-child){
        margin: 0;
    }
    .aside1__logo{
        margin: 0;
        margin-left: 1.5em;
    }   
}


/*=============== Header ================*/
main{
    display: flex;
    flex-direction: column;
}
.header{
    height: 10em;
    margin: 3.5em 1em 1.5em 1em;
    padding: 1.9em;
    background: var(--grey);
    border-radius: 0.875em;
    position: relative;
}
.header__inner-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.header__inner-text .header__title{
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25em;
    color: var(--black);
    margin-top: 0.6em;
}
.header__inner-text .header__text{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%;
    color: var(--black);
}
.header__img-box{
    position: absolute;
    left: 55%;
    bottom: 0;
    overflow: hidden;
    max-width: 11em;
    height: 12em;
}
.header__img-box img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/*============ Current-Courses ==========*/

.current-courses{
    margin: 0 1em 2.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
}
.course-informaion {
    background: var(--grey);
    border-radius: 0.875em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.6%;
    width: 80%;
}
.course-information__img-container {
    background: var(--white);
    border-radius: 12px;
    width: 64px;
    height: 64px;
    position: relative;
    margin-right: 5px;
}
.course-information__img-container > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    object-fit: contain;
}
.course-informaion__text {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.course-informaion__title {
    font-family: 'Baloo Bhaina 2',sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.625em;
    color: var(--black);
}
.course-informaion__inner {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125em;
    line-height: 0.9em;
    color: var(--black);
    max-width: 135px;
}
.course-informaion__progress {
    position: relative;
    margin-right: 5px;
}
.course-informaion__progress_result{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125em;
    line-height: 0.9em;
    color: var(--black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) ;
}
.course-informaion__button {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8125em;
    line-height: 0.9em;
    color: var(--white);
    background-color: var(--black);
    border-radius: 0.5em;
    width: 30%;
    height: 40px;
}
.current-courses__arrows{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    width: 16%;
}
.current-courses__arrows > a {
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 2px solid var(--black);
    position: relative;
}
.current-courses__arrows > a > img {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) ;
}
.current-courses__left-arrow{
    margin-right: 5px;
}
.current-courses__right-arrow{
    transform: rotate(-180deg);
}
@media (max-width:770px){
    .current-courses{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .course-informaion{
        width: 100%;
    }
    .current-courses__arrows{
        margin: 24px auto;
        width: 20%;
    }
}
@media (max-width:426px){
    .course-informaion{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .course-information__img-container {
        margin:16px auto 7px;
    }
    .course-informaion__text {
        text-align: center;
        width: 100%;
        margin-bottom: 7px;
    }
    .course-informaion__inner{
        margin: 0 auto;
    }
    .course-informaion__progress {
        margin-bottom: 7px;
    }
    .course-informaion__button {
        width: 70%;
        margin: 0 auto 16px;
    }
    .current-courses__left-arrow{
        margin-right: 10px;
    }
}
/*============= COURSES LIST NAV-BAR =============*/

.list-courses{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.6em;
    color:var(--black);
    margin:0 1rem 1em;
}
.courses-nav{
    margin: 0 1em 0.625em;
    display: flex;
    align-items: center;
}
.courses-nav__items {
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.65em;
    text-decoration: none;
    color: var(--black);
    opacity: 0.3;
}
.courses-nav__items:hover,
.courses-nav__items:first-child{
    opacity: 1;
}
.courses-nav__items:not(:last-child){
    margin-right: 2em;
} 

/*============== Cources-avalible ===============*/
.cources-avalible{
    margin: 0 1em;
}
.cources-avalible-block{
    margin: 0 0 1em;
    background: var(--grey);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cources-avalible__logo{
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 12px;
    position: relative;
    margin: 0 5px 0px 9px;
}
.cources-avalible__logo > img{
    object-fit: contain;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.cources-avalible__text{
    width: 30%;
}
.cources-avalible__header{
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
}
.cources-avalible__text-inner{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: var(--black);
}
.cources-avalible__duration,
.cources-avalible__rate{
    align-items: center;
    display: flex;
}
.cources-avalible__duration > span,
.cources-avalible__rate > span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: var(--black);
    margin-right: 8px;
}
.cources-avalible__rate >img,
.cources-avalible__duration >img {   
     margin-right: 8px;
}
.courses-avalible__button{
    background: var(--black);
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: var(--white);
    display: inline-block;
    width: 20%;
    height: 40px;
    margin: 20px 24px 20px 0px;
}
@media (max-width:770px){
    .cources-avalible{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .cources-avalible-block{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        width: 45%;
    }
    .cources-avalible__logo{
        margin: 16px auto 7px;
    }
    .cources-avalible__text{
        width: 100%;
        text-align: center;
        margin-bottom: 7px;
    }
    .cources-avalible__duration ,
    .cources-avalible__rate {
        margin: 0px auto 7px;
    }
    .courses-avalible__button{
        margin: 0px auto 16px;
        width: 70%;
    }
}
@media (max-width:426px){
    .cources-avalible-block{
        width: 100%;
    }
}
/*========== right-aside Third-column ==============*/
.right-aside-inner{
    margin: 3.5em 2.5em 1.5em 0.5em;
}
@media (max-width:983px){
    .right-aside-inner {
        margin: 3.5em 1em 1.5em;
    }
}
/*===============  SEARCH  ===================*/
.search-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    margin-right: 5px;
}
.search-box{
    width: 18.75em;
    border-radius: 0.5em;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.search-button , .search-area{
    padding: 0.69em 1em;
    margin: 0;
    border: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=search] {
    width: 100%;
}
input[type=search]:focus,
.search-button:focus{
    outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.notification{
    overflow: hidden;
    width: 30px;
    height: 33px;
    margin-left: auto ;
    margin-right: 1.125em;
    position: relative;
}
.bell{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 23.83px;
    height: 26px;
}
.bell-siricul{
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
}
.bell-number{
    position:absolute;
    top:3px;
    right: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;

}
.user{
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.6em;
}

.user > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*================ Courses-result-counter ==============*/
.courses-result-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5em;
}
.courses-result-counter__inner{
    background-color: var(--grey);
    border-radius: 14px;
}
.courses-result-counter__inner{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 47%;
}
.courses-result-counter__inner + .courses-result-counter__inner{
    margin-left: 10px;
}
.courses-result-counter__number{
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 150%;
    color:var(--black);
    margin-right: 12px;
    padding-top: 8px;
    height: 97px;
}
.courses-result-counter__state{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%;
    color: var(--black);
}
.right-aside-inner > h2{
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 168%;
    color: var(--black);
    margin-bottom: 1em;
}
/*================= Learning Hours nav-bar ==============*/
.statistics-info{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.statistics-info > a{
    text-decoration: none;
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.625em;
    color: var(--black);
    opacity: 0.3;
}
.statistics-info>a:hover{
    opacity: 1;
}
.statistics-info .statistics-info__hours{
    margin-right: 1.5em;
    opacity: 1;
}
.statistics-info__button{
    background:var(--grey);
    border-radius: 8px;
    margin-left: auto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.6em 1.1em 
}
.statistics-info__button_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: var(--black);
    margin-right: 5px;
}
.statistic-gragh{
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 3.125em;
}
.statistic-gragh>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*================= LEARM MORE block  =============*/
.learn-more{
    background: var(--grey);
    border-radius: 14px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.learn-more__text{
    padding: 24px 0 16px 24px;
    align-self: center;
    justify-self: center;
}
.learn-more__text > h2 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 38px;
    color: var(--black);
    margin-bottom: 8px;

}
.learn-more__text > p {
    font-family: 'Baloo Bhaina 2', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 150%;
    color: var(--black);
    margin-bottom: 1.5em;
}
.learn-more__text > button {
    background: var(--black);
    border-radius: 8px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: var(--white);
    border: hidden;
    /* padding: 0.8125em 1.44em; */
    padding: 0.8125em 0;
    width: 70%;
    cursor: pointer;
}
.learn-more__img{
    align-self: center;
    justify-self: center;
}

@media (max-width:983px){
    .statistic-gragh{
        width: 60%;
        float: left;
    }
    .learn-more{
        width:40%;
    }
    .learn-more{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .learn-more__img{
        display: none;
    }
}
@media (max-width:546px){
    .learn-more{
        width:100%;
    }
    .statistics-info,
    .statistic-gragh,
    .right-aside-inner>h2{
        display: none;
    }
}
/*============  buttons animation ============*/
.learn-more__button,
.course-informaion__button,
.courses-avalible__button{
    border: 0 solid;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
}
.learn-more__button:hover,
.course-informaion__button:hover,
.courses-avalible__button:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px white;
    text-shadow: 1px 1px 2px #427388; 
    letter-spacing: 1px;
}


/*=========  Notifications animation  ========*/
.notification {
    animation: bell-ring 3s ease-in-out infinite;
    cursor: pointer;
}

@keyframes bell-ring {
    5%, 15% {
      transform: rotate(25deg);
    }
    10%, 20% {
      transform: rotate(-25deg);
    }
    25%  {
      transform: rotate(0deg);
    }
    100% {
      transform:  rotate(0deg);
    }
  }
  