.footer__btn, .price__button, .sections__button, .introduction__buttons_more, .introduction__buttons_kit, .header__btn {
  background-color: #111B47;
  border-radius: 2px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.footer__btn:hover, .price__button:hover, .sections__button:hover, .introduction__buttons_more:hover, .introduction__buttons_kit:hover, .header__btn:hover {
  box-shadow: rgba(49, 46, 46, 0.87) 4px 6px 17px 0px;
  background-color: #253991;
}

.price__header, .sections__header, .fast__header, .introduction__header {
  font-family: "Roboto";
  font-weight: 500;
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 16px;
}

.price__text, .sections__text, .fast__text, .introduction__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
}

body {
  min-width: 320px;
  margin: 0 auto;
}

.wrapper {
  background-color: #FFFFFF;
  font-size: 10px;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100%;
}

/*==============HEADER=============*/
.background_container {
  position: relative;
}

.header-introduction__background {
  width: 71.0416666667%;
  max-width: 986px;
  max-height: 1150px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.header-introduction__background > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
  width: 7.1171171171%;
}

.header {
  position: relative;
  z-index: 2;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 243px;
}
.header__btn {
  font-size: 12px;
  line-height: 18px;
  width: 14.4144144144%;
  padding: 4px 5px;
  margin-left: 31.981981982%;
}

.nav {
  margin-right: 24.4144144144%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22.0720720721%;
}
.nav__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505F98;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
}

@media (max-width: 720px) {
  .header__nav {
    margin-right: 0;
    width: 90%;
    order: 3;
  }

  .logo {
    font-size: 26px;
    line-height: 38px;
    width: 45%;
  }

  .header__content {
    margin-bottom: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
  }
  .header__btn {
    width: 45%;
    margin-left: 0;
  }
}
/*============== introduction block ==================*/
.introduction {
  position: relative;
  z-index: 2;
}
.introduction__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 386px;
  width: 49%;
}
.introduction__header {
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 20px;
}
.introduction__text {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 69px;
}
.introduction__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75.6957328386%;
}
.introduction__buttons_kit {
  width: 46.3235294118%;
  padding: 5px 5px;
  height: 36px;
}
.introduction__buttons_more {
  width: 46.3235294118%;
  padding: 7px 5px 3px;
  background-color: transparent;
  height: 36px;
  border: 2px solid #091133;
  color: #091133;
}
.introduction__buttons_more:hover {
  background-color: transparent;
}

@media (max-width: 1200px) {
  .introduction__content {
    margin-bottom: 200px;
  }
}
@media (max-width: 1050px) {
  .introduction__content {
    margin-bottom: 150px;
    width: 70%;
  }
}
@media (max-width: 720px) {
  .wrapper {
    background: url(../img/Rectangle.png) no-repeat top;
    background-size: 100% 800px;
  }

  .header-introduction__background {
    display: none;
  }

  .introduction__content {
    margin: 0 auto 150px;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .introduction__header {
    font-size: 40px;
    line-height: 60px;
  }
  .introduction__buttons {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .wrapper {
    background-size: 100% 1000px;
  }

  .introduction__buttons {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .introduction__buttons_kit {
    width: 70%;
    margin-bottom: 16px;
  }
  .introduction__buttons_more {
    width: 70%;
  }
}
/*============== second block ==================*/
.fast {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fast__background {
  max-width: 540px;
  width: 49.0909090909%;
  margin: 109px 0px 109px 30px;
  height: auto;
  overflow: hidden;
}
.fast__background > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fast__content {
  width: 49.0909090909%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fast__header {
  width: 100%;
}
.fast__text {
  width: 100%;
  margin-bottom: 80px;
}
.fast__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 47.2222222222%;
}
.options__icon {
  width: 36px;
  height: 36px;
  overflow: hidden;
  margin-bottom: 14px;
}
.options__icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.options__header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  margin-bottom: 6px;
}
.options__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}

@media (max-width: 720px) {
  .fast {
    flex-direction: column;
    text-align: center;
  }
  .fast__content {
    width: 100%;
  }
  .fast__background {
    max-width: 90%;
    width: 90%;
    margin: 20px 0px 100px 0px;
  }

  .options {
    align-items: center;
  }
}
/*================same sections ============*/
.sections {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sections__background {
  max-width: 480px;
  width: 43.6363636364%;
  margin: 122px 155px 130px 0px;
  height: auto;
  overflow: hidden;
}
.sections__background > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sections__background, .sections__second-background {
  max-width: 540px;
  width: 49.0909090909%;
  margin: 91px 125px 114px 0px;
}
.sections__background, .sections__third-background {
  max-width: 445px;
  width: 40.4545454545%;
  margin: 122px 172px 116px 0px;
}
.sections__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40.0900900901%;
}
.sections__header {
  width: 100%;
}
.sections__text {
  width: 100%;
}
.sections__button {
  padding: 4px 5px;
  width: 33.7078651685%;
  font-size: 14px;
  line-height: 24px;
  height: 32px;
  margin-top: 40px;
}

@media (max-width: 1050px) {
  .sections__content {
    width: 60%;
  }
  .sections__background {
    margin: 122px 50px 130px 0px;
  }
  .sections__background, .sections__second-background {
    margin: 91px 50px 114px 0px;
  }
  .sections__background, .sections__third-background {
    margin: 122px 50px 116px 0px;
  }
}
@media (max-width: 720px) {
  .sections {
    flex-direction: column;
    text-align: center;
  }
  .sections__content {
    width: 100%;
  }
  .sections__background {
    order: 2;
    max-width: 90%;
    width: 90%;
    margin: 100px 0;
  }
  .sections__button {
    width: 70%;
    margin: 40px auto 0px;
  }
}
/*=================  price ===============*/
.price {
  background: url(../img/Rectangle.png) top no-repeat;
}
.price__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Roboto";
  width: 54.0540540541%;
}
.price__header {
  margin-top: 237px;
  width: 100%;
}
.price__text {
  width: 100%;
  margin-bottom: 35.8px;
}
.price__money {
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 1px;
  color: #222F65;
  width: 31.5315315315%;
  line-height: 66px;
}
.price__kit {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #37447E;
  margin-bottom: 60px;
  width: 58.3333333333%;
  margin-top: 1px;
}
.price__simple {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
  margin-bottom: 9px;
  width: 58.3333333333%;
}
.price__button {
  padding: 4px 5px;
  margin-bottom: 172px;
  height: 32px;
  width: 31.5%;
}

@media (max-width: 720px) {
  .price__content {
    width: 100%;
  }
  .price__button {
    width: 70%;
  }
}
/*===========footer==========*/
.footer {
  margin-top: auto;
  background: #E7ECFF;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__upper {
  width: 100%;
  height: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copy {
  margin-right: auto;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
  width: 11.981981982%;
}
.footer__btn {
  margin-left: auto;
  padding: 4px 0;
  width: 9.8198198198%;
  height: 26px;
}
.footer__bar {
  background: #CDD1D4;
  height: 1px;
  width: 100%;
}
.footer__lower {
  height: 76px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav {
  width: 22.0720720721%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20.7207207207%;
}
.footer__social > svg {
  width: 16px;
  height: 156px;
  fill: #B0B8BC;
  cursor: pointer;
}
.footer__social > svg:hover {
  fill: #929ca1;
}

.social__link {
  cursor: pointer;
}
.social__link > svg {
  width: 16px;
  height: 156px;
  fill: #B0B8BC;
  cursor: pointer;
}
.social__link > svg:hover {
  fill: #727a7e;
}

@media (max-width: 720px) {
  .footer__upper {
    flex-wrap: wrap;
  }
  .footer__copy {
    width: 100%;
    order: 3;
  }
  .footer__btn {
    width: 45%;
    height: 26px;
  }
  .footer__lower {
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .footer__nav {
    width: 90%;
    margin-right: 0;
    margin-top: 20px;
  }
  .footer__social {
    width: 90%;
  }

  .social__link > svg {
    width: 16px;
    height: 80px;
  }
}
.block_svg {
  display: none;
}