body{
    background-color: rgb(44,44,44);
    height: 100vh;
}
* {box-sizing: border-box;}
.container{
    margin:114px 0px 0px 52px;
    width: 710px;
    height: auto;
}
.tabel-simple,
.table-checkbox{
    margin-bottom: 36px;
}
table{
    width: 100%;
    text-align:left;
    border: 1px solid rgb(118,118,118);
    border-radius: 10px;
    border-spacing: 0px;
}
td{ border-top: 1px solid rgb(118,118,118);}

th,td{ padding:15px 0 13px 15px;}

.icons{
    width: 15px;
    height: 5px;
    cursor: pointer;
}
.icons_1{
    color:rgb(118,118,118);
}
.icons_2{
    color:#D9D9D9;
}
.icon-file{
    color: rgb(26,153,239);
    margin-right: 9px;
}
.file-information{ color:rgb(118,118,118); }

th, 
.file-name{
    color:rgb(224,224,224);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
th, #date { font-weight: 400; }

td.file-name{ width: 50%; }
td.file-information{ width:43% }
td.icons{ width: 7%;}

.rectangle::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid whitesmoke;
    display: inline;
    margin-left: 12px;
    position: relative;
    top: 14px;
    cursor: pointer;
}
input[type=checkbox]{
    margin-right: 10px;}
.search_box{
    width: 175px;
    border-radius: 5px;
    background-color: rgb(68,68,68);
    display: flex;
    margin-right: 5px;
}
.search_button,.search_area{
    color:rgb(117,117,117);
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}
.items_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_icon,
.search_area{
    padding: 8px;
    cursor: pointer;
}
.search_row{
    padding:5px 0 5px 15px;
}
input[type=search]{
    width: 100%;
}
input[type=search]:focus,
.search_button:focus{
    outline: none;
}
